@page
@using SystemEnums
@model RegisterModel
@{
    ViewData["Title"] = "NEW Employee";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="mb-3">
                    <h2>NEW Employee</h2>
                    <hr />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="mb-3">
                    <!-- Email -->
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Password -->
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Confirm Password -->
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <!-- Additional Input Fields -->
                <div class="mb-3">
                    <!-- Image URL -->
                    <div class="form-floating">
                        <input asp-for="Input.Impath" class="form-control" placeholder="Image URL" />
                        <label asp-for="Input.Impath">Image URL</label>
                        <span asp-validation-for="Input.Impath" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Another Image URL -->
                    <div class="form-floating">
                        <input asp-for="Input.ContrutruelPath" class="form-control" placeholder="Image URL" />
                        <label asp-for="Input.ContrutruelPath">Image URL</label>
                        <span asp-validation-for="Input.ContrutruelPath" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <!-- Birth Date -->
                    <div class="form-floating">
                        <input asp-for="Input.BirthDate" class="form-control" type="date" />
                        <label asp-for="Input.BirthDate">Birth Date</label>
                        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Hire Date -->
                    <div class="form-floating">
                        <input asp-for="Input.HirangDate" class="form-control" type="date" />
                        <label asp-for="Input.HirangDate">Hire Date</label>
                        <span asp-validation-for="Input.HirangDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <!-- Address -->
                    <div class="form-floating">
                        <input asp-for="Input.Adress" class="form-control" placeholder="Address" />
                        <label asp-for="Input.Adress">Address</label>
                        <span asp-validation-for="Input.Adress" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <!-- Salary -->
                    <div class="form-floating">
                        <input asp-for="Input.Salary" class="form-control" placeholder="Salary" />
                        <label asp-for="Input.Salary">Salary</label>
                        <span asp-validation-for="Input.Salary" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <!-- Job Title -->
                    <div class="form-floating">
                        <input asp-for="Input.JobTitle" class="form-control" placeholder="Job Title" />
                        <label asp-for="Input.JobTitle">Job Title</label>
                        <span asp-validation-for="Input.JobTitle" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <!-- Username -->
                    <div class="form-floating">
                        <input asp-for="Input.USERname" class="form-control" placeholder="Username" />
                        <label asp-for="Input.USERname">Username</label>
                        <span asp-validation-for="Input.USERname" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Gender"></label>
                    <select asp-for="Input.Gender" asp-items="@Html.GetEnumSelectList<Gender>()" aria-required="true" class="form-control">
                        <option value="" disabled>Choose gender</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.DepartmentId" class="control-label">Department</label>
                    <select asp-for="Input.DepartmentId" asp-items="@(ViewData["DepartmentOptions"] as List<SelectListItem>)" class="form-control">
                        <option value="">-- Select Department --</option>
                    </select>
                </div>

                <div class="mb-3">
                    <button id="registerSubmit" type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
