@model HR.ViewModel.Depatmentvm

@{
    ViewData["Title"] = "Add/EditDepatment";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="~/css/depatment.css" rel="stylesheet" />
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

<partial name="_AlertMessage" model="Model" />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 style="font-family: 'Arial', sans-serif;"> Mange Department</h1>

            <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data" class="glass-form">
                 <input type="hidden" asp-for="Id" />
 
                <div class="form-group row">
                    <div class="col">
                        <label asp-for="DepartmentName" style="font-weight: bold;">Department Name:</label>
                        <input asp-for="DepartmentName" class="form-control same-width" style="z-index: 1;" />
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="ManagerId" class="form-label" style="font-weight: bold;">Manager:</label>
                        <select class="form-select  glass-select same-width" asp-for="ManagerId" asp-items="Model.Mangers"
                                data-placeholder="Select manager" style="z-index: 1;">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="ManagerId" class="text-danger"></span>
                    </div>
                </div>
               



                <div class="button-group">
                    
                        <button type="submit" id="savedata" class="btn btn-primary">
                            @if (Model.Id > 0)
                            {
                                @:Update 
                            }
                            else
                            {
                                @:Add New
                            }
                        </button>


                    <a asp-controller="Depatment" asp-action="Index" class="btn btn-secondary mt-2">
                        <i class="fas fa-chevron-circle-left"></i> Back Home
                    </a>
                </div>
            </form>

          
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/depatment forsave.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
