

.glass-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.glass-select {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.same-width {
    width: 100%; /* Both inputs have the same width */
    margin-bottom: 10px; /* Add margin between the inputs and form */
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .button-group .btn {
        margin: 0;
    }
