
/* Custom CSS styles */
.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.btn-secondary {
    margin-top: 10px;
}

/* Glass-like style for form elements */
.glass-container {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha channel for transparency */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.glass-input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Style for the button group */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .button-group .btn {
        margin: 0;
    }


