@{
    ViewData["Title"] = " mange shifts EmployeeCurrent";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HR.ViewModel.WorkScheduleCurentWeekDayVm
<partial name="_AlertMessage" model="Model" />
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

 
<link href="~/css/curentweeksave.css" rel="stylesheet" />

<partial name="_AlertMessage" model="Model" />
<div class="container mt-5 glass-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Edit SalaryTransaction</h1>


            <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />

                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="ShiftName" class="form-label">Shift Name:</label>
                        <input asp-for="ShiftName" class="glass-input form-control" />
                        <span asp-validation-for="ShiftName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TimeEndshifts" class="form-label">End Time of Shift:</label>
                        <input asp-for="TimeEndshifts" class="glass-input form-control" />
                        <span asp-validation-for="TimeEndshifts" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label asp-for="TimestartShift" class="form-label">Start Time of Shift:</label>
                        <input asp-for="TimestartShift" class="glass-input form-control" />
                        <span asp-validation-for="TimestartShift" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="DayName" class="form-label">Day Name:</label>
                        <select class="glass-select form-select" asp-for="DayName" asp-items="Model.DayNameslist" data-placeholder="Select day">
                            <option value="" selected></option>
                        </select>
                        <span asp-validation-for="DayName" class="text-danger"></span>
                    </div>
                </div>


              

                <div class="button-group">
                    <button type="submit" id="savedata" class="btn btn-primary">
                        @if (Model?.Id > 0)
                        {
                            @:Update
                        }
                        else
                        {
                            @:Add New
                        }
                    </button>
                    <a asp-controller="WorkScheduleCurentWeekDay" asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-chevron-circle-left"></i> Back to Index
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/curentweeksaveindex save.js"></script>
   
}
