@if (TempData.ContainsKey("Message"))
{
    @if (TempData.ContainsKey("MessageType") && TempData["MessageType"].ToString() == "Save")
    {
        <div class="alert alert-dismissible alert-success" style="height:100px; width:600px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @TempData["Message"]
            <strong></strong> <a href="#" class="alert-link"></a>
        </div>
    }
    else if (TempData.ContainsKey("MessageType") && TempData["MessageType"].ToString() == "Edit")
    {
        <div class="alert alert-dismissible alert-info" style="height:100px; width:600px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @TempData["Message"]
            <strong></strong> <a href="#" class="alert-link"></a>
        </div>
    }
    else if (TempData.ContainsKey("MessageType") && TempData["MessageType"].ToString() == "Delete")
    {
        <div class="alert alert-dismissible alert-danger" style="height:100px; width:600px;">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @TempData["Message"]
            <strong></strong> <a href="#" class="alert-link"></a>
        </div>
    }
}