@using HR.Utailites;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hr.Mangment.System</title>
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hr.Mangment.System.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
                <a class="navbar-brand" asp-area="HR" asp-controller="Employee" asp-action="Index">HRMangmentSystem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole( SystemRols.SuperAdmin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="authDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Auth
                                </a>
                                <div class="dropdown-menu bg-primary" aria-labelledby="authDropdown">
                                    <a class="dropdown-item" asp-area="Auth" asp-controller="Role" asp-action="Index">Role</a>
                                    <a class="dropdown-item" asp-area="Auth" asp-controller="Roles" asp-action="Index">RoleEmployee</a>
                                    <!-- Other Auth-related menu items for "superadmin" go here -->

                                </div>
                            </li>

                                <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white bg-primary" href="#" id="doctorDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                HR
                            </a>
                                <div class="dropdown-menu bg-primary" aria-labelledby="doctorDropdown" style="background-color:white;">
                                <a class="dropdown-item" asp-area="HR" asp-controller="Employee" asp-action="Index">Employee</a>
                                <a class="dropdown-item" asp-area="HR" asp-controller="Depatment" asp-action="Index">Depatment</a>
                                <a class="dropdown-item" asp-area="HR" asp-controller="SalaryTransaction" asp-action="Index">SalaryTransaction</a>
                                <a class="dropdown-item" asp-area="HR" asp-controller="TimeShift" asp-action="Index">TimeShift</a>
                                <a class="dropdown-item" asp-area="HR" asp-controller="Vaction" asp-action="Index">Vaction</a>
                                <a class="dropdown-item" asp-area="HR" asp-controller="Tringing" asp-action="Index">Tringing</a>
                                <a class="dropdown-item" asp-area="HR" asp-controller="Dvice" asp-action="Index">Dvice</a>
                                    <a class="dropdown-item" asp-area="HR" asp-controller="WorkScheduleCurentWeekDay" asp-action="Index">weekTimeShift</a>
                            </div>
                        </li>
                    
  
                        }
                        @if (User.IsInRole(SystemRols.Admin))
                        { 
                      
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white bg-primary" href="#" id="doctorDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    HR
                                </a>
                            <div class="dropdown-menu bg-primary" aria-labelledby="doctorDropdown" style="background-color:white;">
                                    <a class="dropdown-item" asp-area="HR" asp-controller="Employee" asp-action="Index">Employee</a>
                                    <a class  ="dropdown-item" asp-area="HR" asp-controller="Depatment" asp-action="Index">Depatment</a>
                                    <a class="dropdown-item" asp-area="HR" asp-controller="Salarymangment" asp-action="Index">SalaryTransaction</a>
                                    <a class="dropdown-item" asp-area="HR" asp-controller="TimeShift" asp-action="Index">TimeShift</a>
                                    <a class="dropdown-item" asp-area="HR" asp-controller="Vaction" asp-action="Index">Vaction</a>
                                    <a class="dropdown-item" asp-area="HR" asp-controller="Tringing" asp-action="Index">Tringing</a>
                                    <a class="dropdown-item" asp-area="HR" asp-controller="Dvice" asp-action="Index">Dvice</a>
                                    <a class="dropdown-item" asp-area="HR" asp-controller="WorkScheduleCurentWeekDay" asp-action="Index">weekTimeShift</a>
                                </div>
                            </li>
                            }
                           </ul>
                    <partial name="_LoginPartial" />

                            </div>
                            </div>
                            </nav>
                        
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Hr.Mangment.System - <a asp-area="HR" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
