@{
    ViewData["Title"] = "Edit SalaryTransaction";
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HR.ViewModel.VactionVm
<partial name="_AlertMessage" model="Model" />
<link href="~/css/vactionsave.css" rel="stylesheet" />

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

<div class="container mt-5 glass-select">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Manage Vacation</h1>

            <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="EmployeeName" />

                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="StartDate" class="form-label">Starting Time:</label>
                        <input asp-for="StartDate" class="glass-input form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EndDate" class="form-label">Ending Time:</label>
                        <input asp-for="EndDate" class="glass-input form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="form-label">Employee Name:</label>
                        <select class="glass-select form-select" asp-for="EmployeeId" asp-items="Model.Employes" data-placeholder="Select employee">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="button-group">
                    <a asp-controller="TimeShift" asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-chevron-circle-left"></i> Back to Index
                    </a>
                    <button type="submit" id="savedata" class="btn btn-primary">
                        @if (Model.Id > 0)
                        {
                            @:Update
                        }
                        else
                        {
                            @:Add New
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/curentweeksaveindex save.js"></script>

}

