@{
    ViewData["Title"] = "Edit Tringing";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HR.ViewModel.Trainingvm
<partial name="_AlertMessage" model="Model" />
<link href="~/css/trinngsave.css" rel="stylesheet" />

<div class="container mt-5 glass-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Manage Training</h1>

            <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label for="TrainingName">Training Name:</label>
                    <input type="text" asp-for="TrainingName" class="glass-input form-control" id="TrainingName" />
                </div>

                <div class="text-center button-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-controller="Training" asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-chevron-circle-left"></i> Back to Index
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="d:\hr_system\hr.mangment.system\hr.mangment.system\wwwroot\js\site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="~/js/triningsave.js"></script>
}










