@{
    ViewData["Title"] = "Edit SalaryTransaction";
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HR.ViewModel.SalaryTransactionVM
<partial name="_AlertMessage" model="Model" />
<link href="~/css/trantationsalary.css" rel="stylesheet" />

<partial name="_AlertMessage" model="Model" />
<div class="container mt-5 glass-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Edit SalaryTransaction</h1>

            <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />

                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="Amount">Amount:</label>
                        <input asp-for="Amount" class="glass-input form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Reason">Reason:</label>
                        <input asp-for="Reason" class="glass-input form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="TransactionDate" class="form-label">Transaction Date:</label>
                        <input asp-for="TransactionDate" class="glass-input form-control" />
                        <span asp-validation-for="TransactionDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="EmployeeId" class="form-control form-control-glass" type="hidden" />
                    </div>

                    <div class="form-group">
                        <label asp-for="EmployeeName" class="form-label">Employee Name:</label>
                        <input asp-for="EmployeeName" class="glass-input form-control" readonly />
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="transactionTyp" class="form-label mt-4"></label>
                    <select class="glass-select form-select" asp-for="transactionTyp" asp-items="Model.ALLtransactionTyps"
                            data-placeholder="Select transaction type">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="transactionTyp" class="text-danger"></span>
                </div>

                <div class="button-group">
                    <button type="submit" id="savedata" class="btn btn-primary"> Mange</button>
                    <a asp-controller="SalaryTransaction" asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-chevron-circle-left"></i> Back to Index
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/editsalarytransaction.js"></script>
}

