 

@{
    ViewData["Title"] = " Mange TimeShift";
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HR.ViewModel.TimeShiftVM
<partial name="_AlertMessage" model="Model" />



<link href="~/css/timeshiftinsave.css" rel="stylesheet" />






<partial name="_AlertMessage" model="Model" />
<div class="container mt-5 glass-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Edit TimShifting</h1>

                   <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />

                <div class="form-row">
                        <div class="form-group">
                    <label asp-for="StartingTime">Starting Time:</label>
                    <input asp-for="StartingTime" class="form-control" />
                    <span asp-validation-for="StartingTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndingTime">Ending Time:</label>
                    <input asp-for="EndingTime" class="form-control" />
                    <span asp-validation-for="EndingTime" class="text-danger"></span>
                </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                    <label asp-for="EmployeeId " class="form-label mt-4"></label>
                    <select class="form-select" asp-for="EmployeeId" asp-items="Model.Employes"
                            data-placeholder="Select employee">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>    
                
                <div class="form-group">
                    <label asp-for="shiftStuTework " class="form-label mt-4"></label>
                    <select class="form-select" asp-for="shiftStuTework" asp-items="Model.Shifts"
                            data-placeholder="Select shiftStuTework">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                </div>

                

                <div class="button-group">
                     <button type="submit" id="savedata" class="btn btn-primary">
                        @if (Model.Id > 0)
                        {
                            @:Update
                        }
                        else
                        {
                            @:Add New
                        }
                    </button>
                        <a asp-controller="TimeShift" asp-action="Index" class="btn btn-secondary mt-2">
                <i class="fas fa-chevron-circle-left"></i> Back to Index
            </a>
                </div>
            </form>
        </div>
    </div>
</div>




<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />




<script src="~/lib/select2/js/select2.min.js"></script>
 



@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/timeshiftingsave.js"></script>
}



