 

@{
    ViewData["Title"] = "Edit SalaryTransaction";
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HR.ViewModel.TimeShiftVM
<partial name="_AlertMessage" model="Model" />
<style>
    /* Custom CSS styles */
    .container {
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
    }

    .btn-secondary {
        margin-top: 10px;
    }
</style>


<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />




<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Edit SalaryTransaction</h1>

            <form asp-action="Save" method="post" id="saveform" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="StartingTime">Starting Time:</label>
                    <input asp-for="StartingTime" class="form-control" />
                    <span asp-validation-for="StartingTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndingTime">Ending Time:</label>
                    <input asp-for="EndingTime" class="form-control" />
                    <span asp-validation-for="EndingTime" class="text-danger"></span>
                </div>
               
               

                <div class="form-group">
                    <label asp-for="EmployeeId " class="form-label mt-4"></label>
                    <select class="form-select" asp-for="EmployeeId" asp-items="Model.Employes"
                            data-placeholder="Select employee">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>    
                
                <div class="form-group">
                    <label asp-for="shiftStuTework " class="form-label mt-4"></label>
                    <select class="form-select" asp-for="shiftStuTework" asp-items="Model.Shifts"
                            data-placeholder="Select shiftStuTework">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>

                <!-- Add 'multiple' attribute to the select elements to enable multiple selection -->
               
          

                <button type="submit" id="savedata" class="btn btn-primary">Update</button>
            </form>

            <a asp-controller="TimeShift" asp-action="Index" class="btn btn-secondary mt-2">
                <i class="fas fa-chevron-circle-left"></i> Back to Index
            </a>
        </div>
    </div>
</div>
<script src="~/lib/select2/js/select2.min.js"></script>
 


<script>



      $(document).ready(function () {
       $('select').select2();
    });

</script> 
@* 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var saveForm = document.getElementById("saveform");

        saveForm.addEventListener("submit", function (event) {
            event.preventDefault();

            Swal.fire({
                title: "Are you sure?",
                text: "You are about to update the SalaryTransaction information.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, update it!",
                cancelButtonText: "No, cancel",
            }).then((result) => {
                if (result.isConfirmed) {
                    // You can also add additional form validation here
                    saveForm.submit();
                }
            });
        });
    });
</script>
 *@